#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.text-clip {
  background-clip: text;
  color: transparent;
}
.chapter1 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter1 {
  animation: chapter1Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter1Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(-72deg) translate(300px) rotate(72deg)} */
  100% {
    transform: translate(93px, -285px);
  }
}
/* //// */
.chapter2 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter2 {
  animation: chapter2Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter2Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(-36deg) translate(300px) rotate(36deg);} */
  100% {
    transform: translate(243px, -177px);
  }
}
/* //// */
.chapter3 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter3 {
  animation: chapter3Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter3Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(0deg) translate(300px) rotate(0deg);} */
  100% {
    transform: translate(300px, 0px);
  }
}
/* //// */
.chapter4 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter4 {
  animation: chapter4Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter4Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(36deg) translate(300px) rotate(-36deg);} */
  100% {
    transform: translate(243px, 177px);
  }
}
/* //// */
.chapter5 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter5 {
  animation: chapter5Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter5Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(72deg) translate(300px) rotate(-72deg);} */
  100% {
    transform: translate(93px, 285px);
  }
}
/* ///// */
.chapter6 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter6 {
  animation: chapter6Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter6Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(108deg) translate(300px) rotate(-108deg);} */
  100% {
    transform: translate(-93px, 285px);
  }
}
/* ///// */
.chapter7 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter7 {
  animation: chapter7Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter7Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(144deg) translate(300px) rotate(-144deg);} */
  100% {
    transform: translate(-243px, 177px);
  }
}
/* //// */
.chapter8 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter8 {
  animation: chapter8Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter8Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(180deg) translate(300px) rotate(-180deg);} */
  100% {
    transform: translate(-300px, 0px);
  }
}
/* //// */
.chapter9 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter9 {
  animation: chapter9Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter9Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(216deg) translate(300px) rotate(-216deg);} */
  100% {
    transform: translate(-243px, -177px);
  }
}
/* //// */
.chapter10 {
  transform: rotate(0deg) translate(0) rotate(0deg);
}
.animationAll .chapter10 {
  animation: chapter10Animation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards
    0.3s;
}
@keyframes chapter10Animation {
  0% {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  /* 100% {transform: rotate(252deg) translate(300px) rotate(-252deg);} */
  100% {
    transform: translate(-93px, -285px);
  }
}
.chapter-cs {
  margin: -64px;
  transform-origin: 300px;
}
body .active-items-start {
  align-items: start;
}
.disabled {
  opacity: 0.7;
  pointer-events: none;
}
.image-color-changed img.MuiTab-iconWrapper {
  filter: brightness(0) invert(0.5);
}
.settings-tabs .MuiTabs-flexContainer[role="tablist"] {
  overflow-x: auto;
}
/* width */
.settings-tabs .MuiTabs-flexContainer[role="tablist"]::-webkit-scrollbar,
.sidebar-innerr::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.settings-tabs .MuiTabs-flexContainer[role="tablist"]::-webkit-scrollbar-track,
.sidebar-innerr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d6d6d6;
  border-radius: 10px;
}

/* Handle */
.settings-tabs .MuiTabs-flexContainer[role="tablist"]::-webkit-scrollbar-thumb,
.sidebar-innerr::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
}

/* Handle on hover */
.settings-tabs
  .MuiTabs-flexContainer[role="tablist"]::-webkit-scrollbar-thumb:hover,
.sidebar-innerr::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}
.MuiDialog-container > .MuiPaper-rounded {
  border-radius: 20px;
}
.tabs-cs > button[type="button"] {
  background: none;
  border-bottom: 2px solid #29b47500;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 12px;
  color: #84818a;
}
.tabs-cs > button[type="button"][aria-selected="true"] {
  border-color: #29b475;
  color: #2e2c34;
}
.MuiDialog-root > .MuiBackdrop-root {
  background-color: rgb(77 77 77 / 50%);
}
@media (min-width: 1025px) {
  .menu-bar {
    display: none !important;
  }
}
@media (max-width: 1024.98px) {
  .menu-item-text {
    text-wrap: nowrap;
  }
  .logo-hamburg-inner {
    min-height: 88.25px;
  }
  .active-menu-linkk .menu-icon {
    padding-left: 0;
  }
  .sidebar-main {
    transition: all 0.3s ease;
  }
  .sidebar-main.menu-closed {
    width: 50px;
  }
  .menu-closed .label-menu-top,
  .menu-closed .bottom-menuu,
  .menu-closed .menu-item-text {
    opacity: 0;
    overflow: hidden;
  }
  .menu-closed .logo-hamburg {
    padding-inline: 8px;
  }
  .menu-closed .menu-link-a {
    margin-inline: 0;
    padding-inline: 13px;
  }
  .menu-closed .active-linkk-memnu {
    padding-inline: 5px;
  }
  .menu-closed .active-linkk-memnu .active-menu-linkk .menu-icon {
    padding-left: 0;
  }
  .menu-closed + .content-right {
    width: calc(100% - 50px);
  }
}
@media (max-width: 767.98px) {
  .chapter-cs,
  .head-goal {
    position: static !important;
    transform: none !important;
    margin: 0 auto !important;
  }
  .head-goal {
    order: -1 !important;
  }
  .chapter-all {
    border: 0 !important;
    padding-bottom: 0 !important;
  }
}
