@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: unset !important;
  max-width: none;
}
.nav-header {
  /* max-width: calc(1440px - 40px); */
  /* margin: 0 auto; */
  padding: 25px 44px;
}
/* .back-btnn {
  max-width: calc(1440px - 40px);
  margin: 11px auto;
  padding: 0px 40px;
} */

/* .form-2 {
  height: calc(100vh - 226px);
} */
/* .form-3 {
  height: calc(100vh - 280px);
} */
/* .login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 70px 0;
} */



/* new */
.max-h-100vh.w-320px.sidebar-main.menu-closed {
  max-height: 100%!important;
}
.relative.mt-5 {
  margin-top: 40%!important;
}
 input#template1,input#template2,input#template3,input#template4 {

  margin-left: 40%;
} 
.menu-icon .max-width{
width: 50%;
padding-inline: auto;
display: block;
}
.min-h-165px{
  min-height:230px;
}

.absolute.mt-8.w-48.bg-white.border.border-gray-200.rounded.shadow-md {
  bottom: -40%;
  right: -45%;
  z-index: 1;
  border-radius: 16px;
}
/* .flex.items-center.border.rounded.shadow-sm.p-2:active {
  border-color: #375DFB;
} */
.flex.items-center img.border.shadow.p-2.border-radius {
  max-width: 50%;
}
.flex.items-center.border.rounded.shadow-sm.p-2 {
  margin-top: 10px;
  border-radius: 12px;
}
.flex.gap-2.items-end.justify-between.pt-4 {
  padding: 20px 10px;
}
.color{
  color:#375DFB;
}
.border-radius {
  border-radius: 50%;
}
.chatbox-page {
  height: calc(100vh - 191px);
}
body {
  font-family: "Outfit", sans-serif;
}

.lft-space {
  padding-left: 34px !important;
}
.lft-space2 {
  padding-left: 70px !important;
}
.lft-space-summery {
  padding-left: 60px !important;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.flex.gap-2.items-end.justify-between.pt-4 {
  background-color: #EBEDFF;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.header {
  align-items: center;
}
.lable-lft {
  text-align: start;
}
.img-size {
  max-width: 25px;
}
label {
  text-align: start;
}
hr {
  color: #e2e4e9;
}
.text-border {
  justify-content: center;
  border: 1px solid #e2e4e9;
  border-radius: 27px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
}

/* input {
  padding: 10px 12px !important;
} */
.space-top {
  top: 3px;
  box-shadow: 0px 2px 2px 0px #1b1c1d1f;
}
.center-box {
  height: calc(100vh - 281px);
}
.main-sec {
  max-width: 920px;
  margin: 0 auto;
}
.bg-image {
  background-image: url(./assets/images/Group-dashboard.png);
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.focus input:focus {
  box-shadow: none !important;
}





@media only screen and (max-width: 820px) {
  .mob .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 991px) {
  .mob-view button {
    font-size: 12px;
    padding: 5px 7px !important;
    margin: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .bg-image {
    height: 300px;
  }
  .chatbox-page {
    height: auto;
}
}
@media only screen and (max-width: 375px) {
  .form-2 {
    height: calc(100vh - 226px);
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #f6f8fa;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}


.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: white;
  width: 50%;
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  transition: transform 0.2s linear;
  box-shadow:
    0px 0.96px 1.91px -0.96px #0e002914,
    0px 0.96px 3.83px -0.96px #0e002914;
  border-radius: 8px;
  min-width: 50%;
  left: 1px;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(120px);
}

.lft-nav li:hover path {
  fill: #6e3ff3; /* Change the color to red on hover */
}

/*  Support me if you like it */
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}
.pd-bottom {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.summey-top-space {
  top: -17px !important;
}
.minor-shadow {
  box-shadow: 0px 1px 2px 0 rgb(228 229 231 / 24%);
}

@media only screen and (max-width: 1200px) {
  .content-img {
    margin-top: -174px;
  }
}
